In [210]:
import pandas as pd
import json
import re
import ast
import numpy as np
from global_land_mask import globe

In [211]:
df = pd.read_csv("result.csv")
len(df)

99999

In [212]:
df.head()

,area_id,area_contained,area_type,latitude_and_longitude
0,0,0.000190,water,"['[32.319172, 163.217575]', '[32.324315, 162.1..."
1,1,0.000161,water,"['[-35.735589, 107.347378]', '[-35.883432, 107..."
2,2,0.000155,water,"['[1.654388, 82.484031]', '[1.900916, 82.62435..."
3,3,0.000056,land,"['[-18.319043, -41.160728]', '[-18.589356, -41..."
4,4,0.000011,water,"['[-57.109146, 67.107051]', '[-56.676897, 66.9..."

In [14]:
data = json.load(open("vernoi.json", "r"))
data
for x in data[:20]:
    print(x)
    print("\n")

{'area_id': '0', 'area_contained': '0.0009400587531802935', 'area_type': 'water', 'latitude_and_longitude': "['[-35.655593, 164.172878]', '[-35.532144, 162.477879]', '[-34.98589, 161.817511]', '[-33.804805, 161.705416]', '[-33.999765, 163.693069]', '[-34.796751, 164.384598]', '[-34.806489, 164.38747]']"}


{'area_id': '1', 'area_contained': '0.00039960422060289643', 'area_type': 'water', 'latitude_and_longitude': "['[-28.502282, 108.516455]', '[-29.265667, 107.416561]', '[-30.627149, 107.101579]', '[-30.49761, 107.54311]', '[-29.007391, 108.770055]']"}


{'area_id': '2', 'area_contained': '0.000510347985510165', 'area_type': 'water', 'latitude_and_longitude': "['[-22.668347, 82.528614]', '[-21.455217, 82.637131]', '[-21.34583, 82.810961]', '[-21.334594, 82.942691]', '[-21.472649, 83.448832]', '[-21.791027, 83.909595]', '[-22.958193, 83.668068]', '[-23.134843, 83.424915]']"}


{'area_id': '3', 'area_contained': '0.0010969922111977856', 'area_type': 'water', 'latitude_and_longitude': "['[63.931844, -41.828911]', '[62.564401, -43.407232]', '[61.694127, -42.226139]', '[62.061719, -39.437331]', '[63.805008, -38.622434]', '[64.031794, -39.135079]', '[64.14413, -40.371021]']"}


{'area_id': '4', 'area_contained': '0.0005308858826464111', 'area_type': 'land', 'latitude_and_longitude': "['[28.128743, 66.924578]', '[26.955292, 67.846382]', '[26.150397, 66.879615]', '[26.316323, 66.532559]', '[26.792, 66.125059]', '[27.28232, 66.107356]']"}


{'area_id': '5', 'area_contained': '0.0006117195778349864', 'area_type': 'water', 'latitude_and_longitude': "['[-9.514727, -25.589184]', '[-9.515042, -24.356088]', '[-7.666619, -24.044763]', '[-7.636566, -24.107907]', '[-8.592507, -25.639846]', '[-9.114906, -25.786357]']"}


{'area_id': '6', 'area_contained': '0.0003214588228690556', 'area_type': 'land', 'latitude_and_longitude': "['[66.116465, 18.650453]', '[65.604793, 15.28938]', '[66.002766, 14.52424]', '[66.608864, 14.306741]', '[66.551783, 16.835452]']"}


{'area_id': '7', 'area_contained': '0.0009338653343100808', 'area_type': 'water', 'latitude_and_longitude': "['[-29.212538, -88.185056]', '[-27.839248, -87.448671]', '[-27.896602, -85.951729]', '[-29.153346, -85.168384]', '[-29.155792, -85.175478]', '[-29.550208, -87.764834]']"}


{'area_id': '8', 'area_contained': '0.00043638110523398695', 'area_type': 'land', 'latitude_and_longitude': "['[-24.305141, 31.090937]', '[-24.1343, 32.063803]', '[-24.1459, 32.103832]', '[-25.588747, 31.766906]', '[-25.810681, 30.965115]', '[-25.427366, 30.741245]', '[-24.564823, 30.859808]']"}


{'area_id': '9', 'area_contained': '0.00017524992384981058', 'area_type': 'water', 'latitude_and_longitude': "['[-1.862985, 50.352745]', '[-1.726421, 50.751458]', '[-1.337924, 50.80932]', '[-0.589533, 49.757453]', '[-1.65652, 50.169834]']"}


{'area_id': '10', 'area_contained': '0.0006053259216716328', 'area_type': 'land', 'latitude_and_longitude': "['[-78.088475, -109.211265]', '[-77.89126, -109.321177]', '[-77.26434, -111.474476]', '[-77.155214, -120.482953]', '[-77.333192, -120.933528]', '[-77.816092, -120.23744]', '[-78.319742, -113.481145]', '[-78.106661, -109.239285]']"}


{'area_id': '11', 'area_contained': '0.0014021497401826015', 'area_type': 'water', 'latitude_and_longitude': "['[75.120738, -14.283735]', '[74.720393, -10.117948]', '[74.300532, -8.867254]', '[73.671996, -8.80658]', '[72.518109, -10.109193]', '[72.394628, -11.346553]', '[73.598727, -17.947078]', '[74.762653, -16.750188]']"}


{'area_id': '12', 'area_contained': '0.0009680319688056931', 'area_type': 'land', 'latitude_and_longitude': "['[-25.337597, -66.921155]', '[-26.080299, -66.648904]', '[-26.446614, -64.247398]', '[-25.555839, -64.040643]', '[-24.774427, -65.31676]', '[-24.704494, -65.90704]', '[-24.853205, -66.6556]']"}


{'area_id': '13', 'area_contained': '0.00041161401864708434', 'area_type': 'water', 'latitude_and_longitude': "['[-38.031432, -37.907907]', '[-38.173064, -37.779019]', '[-37.556518, -35.612402]', '[-36.640027, -36.70216]', '[-37.696953, -37.901407]']"}


{'area_id': '14', 'area_contained': '0.0006800393617164582', 'area_type': 'water', 'latitude_and_longitude': "['[-53.961492, -92.998026]', '[-53.330668, -93.810306]', '[-52.381108, -92.812579]', '[-52.860456, -89.867798]', '[-53.979816, -91.847332]']"}


{'area_id': '15', 'area_contained': '0.0004875470742566989', 'area_type': 'water', 'latitude_and_longitude': "['[-15.203467, -99.43207]', '[-14.497785, -98.752008]', '[-15.61546, -97.513904]', '[-16.051242, -97.586192]', '[-16.146564, -98.132303]', '[-15.897717, -98.672015]']"}


{'area_id': '16', 'area_contained': '0.0003175108521660448', 'area_type': 'land', 'latitude_and_longitude': "['[60.257436, 55.422124]', '[60.75867, 54.507988]', '[60.557494, 53.840448]', '[58.881912, 53.812325]', '[58.862473, 53.912132]', '[58.91266, 54.552092]']"}


{'area_id': '17', 'area_contained': '0.0004647673193987346', 'area_type': 'land', 'latitude_and_longitude': "['[15.597807, -95.707058]', '[15.468925, -97.282592]', '[16.675729, -97.541996]', '[16.749939, -97.433753]', '[16.433192, -96.185111]', '[15.985668, -95.811848]']"}


{'area_id': '18', 'area_contained': '0.0002708325330525924', 'area_type': 'water', 'latitude_and_longitude': "['[-56.863377, 102.45903]', '[-57.559573, 100.470921]', '[-56.35419, 100.311372]', '[-56.300575, 100.413525]', '[-56.561477, 102.369599]']"}


{'area_id': '19', 'area_contained': '0.0007276601422794417', 'area_type': 'water', 'latitude_and_longitude': "['[54.188348, -151.442877]', '[56.645726, -150.674989]', '[56.791595, -149.074642]', '[54.597096, -149.304835]']"}

In [15]:
dt = {"area_id":[],
          "area_contained": [],
          "area_type":[],
          "latitude_and_longitude": []}

In [16]:
import pandas as pd
df= pd.DataFrame(columns = ['area_id','area_contained', 'area_type', 'latitude_and_longitude'])

In [17]:
df.loc[1] = ['Amy', 89, 93, 88]

In [18]:
df

  area_id area_contained area_type latitude_and_longitude
1     Amy             89        93                     88

In [19]:
import pandas as pd
import numpy as np
import time
import random

end_value = 10

In [20]:
start_time = time.time()
dictionary_list = []
for i in range(0, end_value, 1):
    dictionary_data = {k: random.random() for k in range(10)}
    dictionary_list.append(dictionary_data)

df_final = pd.DataFrame.from_dict(dictionary_list)

end_time = time.time()
print('Execution time = %.6f seconds' % (end_time-start_time))

Execution time = 0.004699 seconds

In [21]:
# 55.284704 seconds

In [22]:
df_final.head()

,0,1,2,3,4,5,6,7,8,9
0,0.505710,0.222307,0.767053,0.493612,0.149950,0.077366,0.504397,0.666704,0.716529,0.809591
1,0.723903,0.794540,0.988928,0.493750,0.164096,0.001326,0.173067,0.135967,0.434029,0.673037
2,0.268214,0.264399,0.078261,0.439637,0.047333,0.875096,0.991307,0.491944,0.157511,0.283745
3,0.242398,0.478550,0.178396,0.683723,0.602473,0.934143,0.165838,0.702205,0.423115,0.799723
4,0.765708,0.570620,0.509191,0.308715,0.257296,0.312601,0.173345,0.621796,0.549028,0.424048

In [124]:
import numpy as np

In [171]:
arr = np.array([0,1,2,3,4])

In [176]:
# a = np.array([
#     [[2],[3],[0]],
#     [[1],[3],[0]],
#     [[1],[2],[0]],
#     [[1],[2],[3]]]
# )
a = np.array([
    [[2],[3],[0]],
    [[1],[3],[0]],
    [[1],[2],[0]],
    [[4],[2],[3]],
    [[4],[1],[3]],
    [[4],[1],[2]]]
)

In [178]:
dt = {}
count = 0
for x in a:
    res = np.where((np.array([x])==arr).any(axis=1)[0])
    for r1 in res[0]:
        if r1 not in dt:
            dt[r1] = [count]
        else:
            dt[r1].append(count)
    count+=1
print(dt)

{0: [0, 1, 2], 2: [0, 2, 3, 5], 3: [0, 1, 3, 4], 1: [1, 2, 4, 5], 4: [3, 4, 5]}

In [118]:
np.equal(arr,a)

array([[[False,  True, False, False],
        [False, False, False,  True],
        [ True, False, False, False]],

       [[False,  True, False, False],
        [False, False, False,  True],
        [ True, False, False, False]],

       [[False,  True, False, False],
        [False, False,  True, False],
        [ True, False, False, False]],

       [[False,  True, False, False],
        [False, False,  True, False],
        [False, False, False,  True]]])

In [112]:
tmp = (a==arr)
tmp

array([[[False,  True, False, False],
        [False, False, False,  True],
        [ True, False, False, False]],

       [[False,  True, False, False],
        [False, False, False,  True],
        [ True, False, False, False]],

       [[False,  True, False, False],
        [False, False,  True, False],
        [ True, False, False, False]],

       [[False,  True, False, False],
        [False, False,  True, False],
        [False, False, False,  True]]])

In [113]:
tmp.any(axis=1)

array([[ True,  True, False,  True],
       [ True,  True, False,  True],
       [ True,  True,  True, False],
       [False,  True,  True,  True]])

In [114]:
np.where(tmp.any(axis=1))

(array([0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]),
 array([0, 1, 3, 0, 1, 3, 0, 1, 2, 1, 2, 3]))

In [109]:
np.where((a==arr).any(axis=1))

(array([], dtype=int64), array([], dtype=int64))

In [92]:
np.where((a==arr).any(axis=1))

(array([0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3]),
 array([0, 2, 3, 0, 1, 3, 0, 1, 2, 1, 2, 3]))

In [93]:
import pandas as pd

In [96]:
pd.read_csv("gb.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'gb.csv'

In [5]:
arr = np.array(
    [[44624, 89647, 65334],
     [45234, 57795, 45379],
     [92301, 62197,  6857]])

In [9]:
ar = np.arange(10)

In [8]:
nw = np.expand_dims(arr, -1)

In [10]:
np.where((nw==ar).axis())

(array([], dtype=int64), array([], dtype=int64), array([], dtype=int64))

In [12]:
import numpy as np

In [41]:
aa = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
arr = [[2, 3, 0], [1, 3, 0], [1, 2, 0], [4, 2, 3], [4, 1, 3], [4, 1, 2]]

In [42]:
type((np.expand_dims(arr, -1) == aa))

numpy.ndarray

In [46]:
tmp = np.expand_dims(arr, -1)
tmp

array([[[2],
        [3],
        [0]],

       [[1],
        [3],
        [0]],

       [[1],
        [2],
        [0]],

       [[4],
        [2],
        [3]],

       [[4],
        [1],
        [3]],

       [[4],
        [1],
        [2]]])

In [60]:
(tmp == aa)

array([[[False, False,  True, False, False, False, False, False, False,
         False],
        [False, False, False,  True, False, False, False, False, False,
         False],
        [ True, False, False, False, False, False, False, False, False,
         False]],

       [[False,  True, False, False, False, False, False, False, False,
         False],
        [False, False, False,  True, False, False, False, False, False,
         False],
        [ True, False, False, False, False, False, False, False, False,
         False]],

       [[False,  True, False, False, False, False, False, False, False,
         False],
        [False, False,  True, False, False, False, False, False, False,
         False],
        [ True, False, False, False, False, False, False, False, False,
         False]],

       [[False, False, False, False,  True, False, False, False, False,
         False],
        [False, False,  True, False, False, False, False, False, False,
         False],
        [False, False, False,  True, False, False, False, False, False,
         False]],

       [[False, False, False, False,  True, False, False, False, False,
         False],
        [False,  True, False, False, False, False, False, False, False,
         False],
        [False, False, False,  True, False, False, False, False, False,
         False]],

       [[False, False, False, False,  True, False, False, False, False,
         False],
        [False,  True, False, False, False, False, False, False, False,
         False],
        [False, False,  True, False, False, False, False, False, False,
         False]]])

In [62]:
um = (tmp == aa).any(axis=1)
um

array([[ True, False,  True,  True, False, False, False, False, False,
        False],
       [ True,  True, False,  True, False, False, False, False, False,
        False],
       [ True,  True,  True, False, False, False, False, False, False,
        False],
       [False, False,  True,  True,  True, False, False, False, False,
        False],
       [False,  True, False,  True,  True, False, False, False, False,
        False],
       [False,  True,  True, False,  True, False, False, False, False,
        False]])

In [64]:
dir(um)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [63]:
np.where(um)

(array([0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]),
 array([0, 2, 3, 0, 1, 3, 0, 1, 2, 2, 3, 4, 1, 3, 4, 1, 2, 4]))

In [29]:
np.where((np.expand_dims(arr, -1) == aa))

(array([0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]),
 array([0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]),
 array([2, 3, 0, 1, 3, 0, 1, 2, 0, 4, 2, 3, 4, 1, 3, 4, 1, 2]))

In [34]:
import numpy as np

a = np.array([1,2,3,4])
b = np.array([5,4,7,8])
c = np.array([1,2,3,4])

print((a == b ).all())  #False
print((a == c ).all())   # True
print((a == b ).any())   #False
print((a == c ).any())   #True
print((a > 3 ).all())    #False

False
True
True
True
False

In [73]:
arr = np.array([[1,2,3],[4,5,6]])
a = np.array([1,2,3,4,5,6])

In [76]:
np.where((np.expand_dims(a,-1)==arr).any(axis=1))

/home/umar/.pyenv/versions/3.7.9/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  """Entry point for launching an IPython kernel.

AttributeError: 'bool' object has no attribute 'any'